.all-tasks-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  margin-top: 70px;
  background-color: whitesmoke;
}

h2 {
  color: #333;
}

.task-list {
  list-style-type: none;
  padding: 0;
}

.task-item {
  border: 1px solid #ddd;
  margin: 10px 0;
  padding: 15px;
}

strong {
  color: #007bff;
}

.error {
  color: #ff0000;
}

.update-delete-buttons button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 15px;
  font-size: 1.0em;
  margin-right: 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

.update-delete-buttons button:hover {
  background-color: #0056b3;
}
