.container {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  padding-top: 80px;
  background-color: whitesmoke;
}

h1 {
  color: #333;
  font-size: 2.5em;
  margin-bottom: 20px;
}

p {
  color: #666;
  font-size: 1.2em;
}

.view-tasks-button {
  background-color: #007bff;
  color: #fff;
  padding: 15px 30px;
  font-size: 1.2em;
  border: none;
  cursor: pointer;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

.view-tasks-button:hover {
  background-color: #0056b3;
}
